[Desktop Entry]
Type=Application
Name=Birdman
Comment=A scriptable email client
Exec=birdman-desktop
Icon=birdman
Terminal=false
Categories=Network;Email;
StartupWMClass=birdman-desktop
